.container {
  padding: 0 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  margin: 0 auto;
}

.error {
  color: red;
  text-align: center;
}

.loading {
  text-align: center;
}

.list {
  overflow-y: scroll;
  height: 100vh;
}

.cardList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  justify-content: space-between;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.avatar {
  border-radius: 50%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
